﻿@model AddForumModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class=" sectionHeading">
            Create New Forum
        </div>
    </div>
    <div class="row">
        <div id="createForumSection">
            <form asp-controller="Forum" asp-action="Create" method="post" enctype="multipart/form-data" id="createForumForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title">Forum Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Choose forum title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description Title</label>
                    <input asp-for="Description" class="form-control" placeholder="Choose Description title" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div id="upload">
                    <label>Upload Forum Image</label>
                    <br />
                    <label class="btn btn-default btn-file">
                         Browse: <input asp-for="ImageUpload" type="file" style="display:none" />
                    </label>
                </div>
                <button type="submit" id="newFormBtn" class="btn btn-submitPost">Create Forum</button>
            </form>
        </div>
    </div>
</div>