﻿@model ForumIndexModel

<h1>Forums</h1>

<table class="table table-hover" id="forumindextable">
    <tbody>
        @foreach (var forum in Model.ForumListing)
        {
            <tr>
                <td>
                    <div class="forumLogo" style="background-image:url(@forum.ImageUrl)"></div>
                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                        @forum.Name

                    </a>
                </td>
                <td>@forum.Description</td>
            </tr>
        }
    </tbody>
</table>

