﻿@model SearchResultModel


<div class="container body-content">
    <div class="row sectionHeader">
        <span>Search Results for: @Model.SearchQuery</span>

        <div class="sectionHeading">

            <form asp-controller="Search" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" type="text" placeholder="Search.." class="searchBar" onfocus="clearThis(this)" />
                    <button type="submit" class="btn btn-forumSearch">
                        <i class="material-icons">search</i>

                    </button>

                </div>
           
            </form>

        </div>
      
    </div>
    <div class="row forumIndexContent">
        @if (Model.Posts.Any())
        {
            <table class="table table-hover table-bordered" id="searchIndexTable">
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>
                              
                                <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl)"></div>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                            By:
                                            <span class="postAuthor">
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                    @post.AuthorName
                                                </a>
                                                (@post.AuthorRating)
                                            </span>
                                           In:
                                           <span class="postForum">
                                                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.Forum.Id">@post.Forum.Name</a>
                                           </span>
                                           
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                    Replies: @post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="postDate">@post.DatePosted</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                    No search results found for @Model.SearchQuery <br />
                  
                </h3>
            </div>
        }
    </div>

</div>

@section Scripts{

    <script>
    function clearThis(target) {
            target.Value = "";

        }

    </script>

}



