﻿@model NewPostModel


<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading noBorder">
            New Post | @Model.ForumName
            <div class="forumLogo" style="background-image:url(@Model.ForumImageUrl)"></div>
            <span id="headingBtn">
                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back">
                    @Model.ForumName
                </a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="createPostSection">
            <div class="authorBlock">
                You're submitting this post as <strong> @Model.AuthorName</strong>
            </div>
        </div>

        <form asp-action="Addpost" method="post" id="addPostForm">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" id="submitPostBtn" class="btn btn-submitPost">Submit Post</button>
            <input asp-for="ForumId" type="hidden" />
        </form>
    </div>
</div>


