﻿@model PostIndexModel

<div class="container body-content">
    <div class="row postHeader">
        <div class="postHeading">
            <span class="postIndexTitle">
                @Model.Title
            </span>
            <span id="headingBtn">
                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back">Back to @Model.ForumName</a>
            </span>
        </div>
    </div>

    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <div class="postAuthorImage" style="background-image:url(@Model.AuthorImageUrl);">

            </div>
            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">@Model.AuthorName</a>
            <span class="postData">@Model.Created</span>
            @if (Model.IsAuthorAdmin)
            {

                <span class="isAdmin smaller">Admin</span>
            }
        </div>
        <div class="col-md-9 postContentContainer">
            <div class="postContent">
                @Html.Raw(Model.PostContent)
            </div>
        </div>
    </div>
    <div class="row" id="replyDivider"></div>


    @if (User.Identity.IsAuthenticated)
    {

        <div class="row" id="postReplyRow">
            <span><a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">Post Reply</a></span>
        </div>
    }


    @if (Model.Replies.Any())
    {

        @foreach (var reply in Model.Replies)
        {
            <div class="row replyContent">
                <div class="col-md-3 replyAuthorContainer">
                    <div class="postAuthorImage" style="background-image:url(@reply.AuthorImageUrl)"></div>
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">@reply.AuthorName</a>
                    @if (reply.IsAuthorAdmin)
                    {
                        <span class="isAdmin smaller">Admin</span>
                        <br />
                    }
                    <span class="postDate">@reply.Created</span>
                </div>

                <div class="col-md-9 replyContentContainer">
                    <div class="postContent">
                        @Html.Raw(reply.ReplyContent)
                    </div>
                </div>

            </div>
        }
    }

    else
    {
        <div class="noPosts">
            <h3>
                There are no replies to this post.<br />
            </h3>
        </div>
    }
    <h1></h1>

    @*<div>
            Author: @Model.AuthorName (@Model.AuthorRating)
            Created: @Model.Created
        </div>

        <div>
            @Model.PostContent
        </div>


        @if (Model.Replies.Any())
        {

            @foreach (var reply in Model.Replies)
            {
                <div>
                    <div>
                        Reply Author:@reply.AuthorName
                        Reply Created:@reply.Created
                    </div>
                    <div>
                        Reply   @reply.ReplyContent
                    </div>
                </div>
            }
        }*@

</div>